<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=tcp:newsybot.database.windows.net,1433;Initial Catalog=PROD-NEWSYBOT;Persist Security Info=False;User ID=tyayers;Password=Rushmore%12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>
</configuration>